*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*transition*/
    --tran-02:all 0.2s ease;
    --tran-03:all 0.3s ease;
    --tran-04:all 0.4s ease;
    --tran-05:all 0.5s ease;
}

body{
    height: 100vh;
    background: white;
}

/* REUSABLE CSS */
.sidebar .text{
    font-size: 20px;
    font-weight: 500;
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.image-text{
text-align: center;
}

/* =====SIDEBAR==== */
.sidebar{
    border-top-right-radius:10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 0;
    height: 100%;
    width: 210px;
    padding: 10px 14px;
    background-color:#454546 ;
    transition: var(--tran-05);
    z-index: 1;
}
/* ===menu=== */
.menu{
    overflow: hidden;
    z-index: 1;
}

.sidebar.close{
    width: 88px;
}


.menu ul li{
    height: 50px;
    list-style: none;
 
}


.sidebar li .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    font-size: 20px;
}


.sidebar li .icons,
.sidebar li .text{
    color: white;
}



.sidebar .image-text img{
    width: 40px;
    height: 40px;
    border-radius: 6px;
}


.header-text .name{
    font-weight: 600;
}

/* ===caja del boton expandir==== */
.box-toggle{
    position:absolute;
    right: -15px;
    z-index: 2;
    width: 50px;
   
}

.toggle{  
    transform:  rotate(180deg);
    height: 25px;
    width: 25px;
    background: #F2A530;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: var(--tran-03);
    margin-left: 20px;
    cursor: pointer;


}

.sidebar.close .toggle{
    transform: rotate(0);
}

.toggle:hover{
    color: black;
}



.sidebar li a{ 
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
  

    
}


.sidebar li a:hover .icons,
.sidebar li a:hover .text{
    color: gray;
}





.sidebar .menu-bar{
    /* background: red; */
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cuenta{
    position: relative;
    left: 210px;
    height: 100vh;
    width: calc(100% - 210px);
    background: white;
    transition: var(--tran-05);
}

.sidebar.close ~ .cuenta{
    left:88px;
    width: calc(100% - 88px);
}


/* USUARIO  */
/* ================================================== */

.contenido_perfil{
    display: flex;
    flex-direction: column;
    gap: 3%;
    padding: 8px 80px;
    flex-wrap: wrap;
    align-content: stretch;
}

.perfil .text{
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.barra_usuario{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding: 10px 30px;
}

.barra_usuario ul{
    display: flex;
}

.barra_usuario li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
}

.barra_encuesta{
    margin-right: 4.0em;
    background: #F2A530;
    padding: 8px 12px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.imagen_perfil{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.imagen_perfil img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
}

.input_perfil{
    display: flex;
    gap: 5%;
    margin-top: 15px;
}

/* .diseño_input1{
    height: 30px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    padding: 10px;
    
} */

/* .diseño_input2{
    height: 30px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    padding: 10px;
} */


.seleccionar_imagen{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.seleccionar_imagen p{
    margin-top: 8px;
    font-size: 13px;
    font-weight: 500;
    color: #ABABAB;
    width: 150%;
}

.inputfile {
    /* width: 0.1px;
    height: 0.1px; */
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
}

.inputfile + label svg {
    width: 2.5em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;

    
}

.inputfile-1 + label {
    color: black;
    background-color: #D9D9D9;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #a1a1a1;
}

/* DATOS BASICOS */

.datos-basicos{
    margin-top: 35px;
}



/* DATOS PROFESIONALES */

.datos-profesionales{
    margin-top: 1rem;
}

/* REUSABLE EN DATOS BASICOS Y PROFESIONALES */

.bi-pencil{
    border: 0.5px solid   #9D9D9D;
    padding: 6px 8px;
    border-radius: 12px;
}

.input-datos{
    flex-wrap: wrap;
    display: flex;
    gap: 5%;
    margin-top: 5px;
    width: 70%;
    flex-direction: column;

}

.datos-input{
    color: black;
    padding: 10px;
    width: 300px;
    height: 35px;
    margin-top: 15px;
    border-radius: 12px;
}

.li-grupo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.botontes-datos{
    margin-top: 30px;
    display: flex;
    gap: 3%;
}

.botontes-datos a {
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.btn_guardar{
    background-color: #F2A530;
    color: #2D453E;
    border-radius: 8px;
    padding: 5px 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.8)
}

.btn_cancelar{
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 8px;
    padding: 4.8px 20px;
}

.suscripcion{
    margin-bottom: 5rem;
}

.container-plan{
    height: 330px;
    width: 360px;
    border-radius: 9px;
    border-style: solid;
    border-width: thin;
}

.nombre-plan{
    display: flex;
    gap: 5px;
    flex-direction: column;
    color: #454546;
    padding-left: 38px;
    padding-top: 26px;
}

.linea{
    border-top: 1px solid black;
    height: 2px;
    max-width: 360px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.lista{
    padding-left: 25px;
    padding-top: 19px;
}

.bi-check-circle-fill{
    margin-right: 15px;
    color: rgb(13, 199, 13);
}

.lista ul li{
    margin: 18px;
    list-style: none;
}

.btn_mejorar{
    background-color: #F2A530;
    color: #2D453E;
    border-radius: 8px;
    padding: 5px 30px;
    margin-top: 40px;
    box-shadow: 0 0 8px rgba(0,0,0,0.8)
}

.columna{
    display: flex;
    flex-direction: row ;
}

.columna1{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 5px;
}

.contraseña-nueva{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/*=========================================================*/
/*BREAKPOINT*/
/*=========================================================*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .contenido_perfil{
        padding: 8px 30px;
    }

    .input-datos{
        width: 100%;
    }

    .menu{
        position: relative;
        right: 12px;
    }

    .botton-content{
        position: relative;
        right: 12px;
    }

    .sidebar.close{
        width: 70px;
    }

    .sidebar li .icons{
        font-size: 15px;
    }

    .sidebar .text{
        font-size: 15px;
    }

    .datos-input{
        width: 220px;
    }   

    .contraseña-nueva{
        margin-left: 0;
    }

    .suscripcion{
        margin-bottom: 3rem;
    }

    .container-plan{
        width: 340px;
    }

    .datos-profesionales{
        margin-top: 3rem;
    }

    .cuenta{
        position: relative;
        left: 210px;
        /* height: 100%; */
        width: calc(100% - 210px);
        background: white;
        transition: var(--tran-05);
    }
    
    .sidebar.close ~ .cuenta{
        left:70px;
        width: calc(100% - 70px);
    }

    .sidebar li{
        list-style: none;
    }
    
}

@media screen and (max-width: 480px){
    /*CELULARES*/
    .menu{
        position: relative;
        top: 0;
    }

    .imagen_perfil{
        width: 100%;
    }

    .botton-content{
        margin-top: 0;
    }

     .sidebar{
        border-top-right-radius:10px;
        border-top-left-radius:10px;
        position: fixed;
        bottom: 0;
        width: 100% !important;
        height: 80px;
        padding: 15px 15px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .mostrar-texto{
        opacity: 1 !important;
        color: white !important;
    }

    header{
        display: none;
    }

    .menu-links{
        display: flex;
    }

    
    /* .sidebar.close ~ .perfil{
        left: unset;
        width: auto;
    } */

    .cuenta{
        width: 100% !important;
        /* background-color: #9D9D9D; */
        left: 0 !important;
    }

    .datos-input{
        width: 190px;
    }

    .datos-basicos{
       /* background-color: yellow; */
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .datos-profesionales{
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     .datos-profesionales{
        margin-bottom: 150px;
     }

    .input-datos{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .sidebar.close ~ .perfil{
        left: unset;
        padding-bottom: 100px;
    }


    .sidebar .text{
        font-size:13px ;
    }
    
    .toggle{
        display: none;
    }

    .sidebar .menu-bar{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .sidebar li{
        margin-right: 15px;
        margin-top: 10px;
        list-style: none;
    }

    .sidebar li a{
        flex-direction: column;
        gap: 10%;
    }

    .columna{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .lista ul li{
        font-size: 13px;
    }

    .container-plan{
        width: 300px;
    }

    .contenido_perfil{
        padding: 8px 40px;
    }

    .contraseña-nueva{
        margin-left: 0;
    }
    

    
    
} 